
SourceCode/.vs/QNBFinansGIB/v15/.suo
SourceCode/.vs/QNBFinansGIB/v15/Server/sqlite3/db.lock
SourceCode/.vs/QNBFinansGIB/v15/Server/sqlite3/storage.ide
SourceCode/.vs/QNBFinansGIB/v15/Server/sqlite3/storage.ide-shm
SourceCode/.vs/QNBFinansGIB/v15/Server/sqlite3/storage.ide-wal
SourceCode/.idea/.idea.QNBFinansGIB/.idea/.name
SourceCode/.idea/.idea.QNBFinansGIB/.idea/dbnavigator.xml
SourceCode/.idea/.idea.QNBFinansGIB/.idea/encodings.xml
SourceCode/.idea/.idea.QNBFinansGIB/.idea/indexLayout.xml
SourceCode/.idea/.idea.QNBFinansGIB/.idea/vcs.xml
